{%  extends "base.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-12">
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message | raw }}
            </div>
        {% endfor %}
    </div>
    <div class="col-12 alert-dark text-center">Your IP: {{ client_ip }}</div>
    <div class="col-3"></div>
    <div class="col-6">
        {#{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}#}
        {{ form(form) }}
    </div>
    <div class="col-3"></div>
    <div class="col-12">
        {% if urls > 0 %}
            <h3>Your save urls</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Short link</th>
                    <th scope="col">Url</th>
                    <th scope="col">Create date</th>
                    <th scope="col">Hits</th>
                </tr>
                </thead>
                <tbody>
                    {% for url in urls %}
                        <tr>
                            <th scope="row"><a href="{{ path('short_link', {'slug': url.slug}) }}">{{ url.slug }}</a></th>
                            <td><a href="{{ url.url }}">{{ url.url }}</a></td>
                            <td>{{ url.getDate() | date('Y-m-d H:i:s') }}</td>
                            <td>{{ url.hits }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
